html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html,body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

:root{
    --main-font-family:Arial, Helvetica, sans-serif;
} 
  
input{
    width:20vw;
    height:3vw;
}

#FrameForImgAndForm{
    display:flex;
    flex-direction: row;
    
    width: 100vw;
    height: 100vh;
}

#ImageAndLogo{
    width: 34vw;
    min-width: 34vw;
    height:100%;
    position:relative;
}

#LeftSideImg{
    width:100%;
    height:100%;
}
#Logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 45vh;
    padding-left: 12vw;
    padding-right: 12vw;
    
}

#BackgroundLogo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 45vh;
    width:34vw;
    height:16vw;
    box-shadow: inset;
    background-color: bisque;
    opacity: 50%;
}

#LogoImg{
    width:10vw;
    height:10vw;
    opacity: 100%;
}

#LogoText{
    width: 30vw;
    height:5vh;
    margin-left: -10vw;
    margin-top: -0.4vw;
    padding-top:2vw;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    color: blueviolet;
    text-shadow: 2px 2px 4px rgba(210,180,222,0.7);
}

#MainTextFrame{
    width:auto;
    max-height:100vh;
    max-width: 66vw;
    padding:5vw;
}

#FirstParagraph{
    margin-bottom: 2vh;
    font-family: var(--main-font-family);
}

#SecondParagraph{
    margin-bottom: 5vh;
    font-family: var(--main-font-family)
}

.TwoInputContainer{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-right: 5vw;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
}

.OneInputContainer{
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#SurveyCore{
    box-shadow: 0px -1px 2px rgba(200,200,200,0.1), 0px 4px 8px rgba(100,100,100,0.5);
    margin-left: -5vw;
    width: 66vw;
    padding-right: 5vw;
    padding-left: 5.5vw;
    padding-bottom: 2.5vh;
    overflow: hidden;
}

#SurveyIntroText{
    padding-top: 2vw;
    margin-bottom: 2.5vh;
    font-family: var(--main-font-family)
}

.NoJSValidation{
    border: 2px solid #CCC;
    background-color: rgb(210,180,222);
}

.NoJSValidation:hover{
    background-color: rgba(210,180,222,0.5);  
}

.NoJSValidation:invalid:not(:placeholder-shown) {
    border: 2px red solid;
    background-color: rgba(250,150,150,0.3);
}

.NoJSValidation:valid:not(:placeholder-shown){
    border:2px rgb(210,180,222) solid;
    border-radius: 10px;
    background-color: rgba(210,180,222,0.5);
    box-shadow: 2px 2px 3px rgba(210,180,222,0.7);
}

#SubmitButton{
    margin-top: 5vh;
    width: 20vw;
    height: 4vh;
    border:solid 2px rgb(210,180,222);
    box-shadow: 2px 2px 3px rgba(210,180,222,0.7);
    border-radius: 10px;
    background-color: rgba(210,180,222,0.5);
}

#SubmitButton:hover{
    background-color: rgba(210,180,222,1);
    font-family: var(--main-font-family); 
}

#CheckInLink{
    font-family: var(--main-font-family);
}

    /* DOM style class */

.ConditionMet{
    color: rgb(160,130,172);
    text-shadow: #CCC;
    font-weight: 600;
    font-style: italic;
}

.AllConditionsMet{
    border:2px rgb(210,180,222) solid;
    padding-top: 1vw;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(210,180,222,0.7);
}

.PasswordsValidated{
    border:2px rgb(210,180,222) solid;
    border-radius: 10px;
    background-color: rgba(210,180,222,0.5);
    box-shadow: 2px 2px 3px rgba(210,180,222,0.7);
}