html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
#FrameForImgAndForm{
    display:flex;
    flex-direction: row;
    border: solid black 2px;
}

#ImageAndLogo{
    width: 34vw;
    height:100vh;
    position:relative;
}

#LeftSideImg{
    width:100%;
    height:100%;
}
#Logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 45vh;
    padding-left: 12vw;
    padding-right: 12vw;
    
}

#BackgroundLogo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 45vh;
    width:34vw;
    height:16vw;
    box-shadow: inset;
    background-color: bisque;
    opacity: 50%;
}

#LogoImg{
    width:10vw;
    height:10vw;
    opacity: 100%;
}

#LogoText{
    width: 20vw;
    height:5vw;
    margin-left: -5vw;
    margin-top: -0.4vw;
    padding-top:2vw;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

#MainTextFrame{
    width:62vw;
    padding:5vw;
}