html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

#FrameForImgAndForm{
    display:flex;
    flex-direction: row;
    border: solid black 2px;
}

#ImageAndLogo{
    width: 34vw;
    height:100vh;
    position:relative;
}

#LeftSideImg{
    width:100%;
    height:100%;
}
#Logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 45vh;
    padding-left: 12vw;
    padding-right: 12vw;
    
}

#BackgroundLogo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 45vh;
    width:34vw;
    height:16vw;
    box-shadow: inset;
    background-color: bisque;
    opacity: 50%;
}

#LogoImg{
    width:10vw;
    height:10vw;
    opacity: 100%;
}

#LogoText{
    width: 20vw;
    height:5vw;
    margin-left: -5vw;
    margin-top: -0.4vw;
    padding-top:2vw;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

#MainTextFrame{
    width:62vw;
    padding:5vw;
}

#FirstParagraph{
    margin-bottom: 2vw;;
}

#SecondParagraph{
    margin-bottom: 5vw;
}

.TwoInputContainer{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-right: 5vw;
    margin-bottom: 2.5vw;
    margin-top: 2.5vw;
}

.OneInputContainer{
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
}

#SurveyCore{
    box-shadow: 0px -1px 2px rgba(200,200,200,0.1), 0px 4px 8px rgba(100,100,100,0.5);
    margin-left:-5vw;
    margin-right:-5.5vw;
    padding-right: 5vw;
    padding-left: 5.5vw;
    padding-bottom: 2.5vw;
}

#SurveyIntroText{
    padding-top: 2vw;
    margin-bottom: 2.5vw;
}

#SubmitButton{
    margin-top: 5vw;
    width: 20vw;
    height: 4vw;
    border:solid 2px rgb(210,180,222);
    box-shadow: 2px 2px 3px rgba(210,180,222,0.7);
    border-radius: 10px;
    background-color: rgba(210,180,222,0.5);
}

#SubmitButton:hover{
    background-color: rgba(210,180,222,1); 
}